header h1, footer {
	text-align: center;
	margin: 10px;
}

section {
	margin-bottom: 100px;
}

.main-image {
	margin: 0 auto;
	padding: 2%;
	width: 300px;
	height: 300px;
}

.main-image img {
	padding: 30px;
}

.dropping-letters {
	margin: 0 auto;
	width: 360px;
}

.dropping-letters .drop {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	float: left;
	padding: 20px;
	margin: 20px;
	position: relative;
}

.dragging-letters {
	margin: 0 auto;
	width: 450px;
}

.dragging-letters .drag {
	float: left;
	margin: 8px;
	padding: 20px;
	cursor: move;
}

.drag span {
	font-size: 40px;
}

.dropping-letters .drag {
	position: absolute;
	top: 375px;
	left: 280px;
}